*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 100%;
	font-family: sans-serif;	
}

div, section, span, ul, li, header{
	box-sizing: border-box;	
}

html{
	scroll-behavior: smooth;	
}
/* css reset */

header{
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: space-between;	
	padding: 20px 50px;
	align-items: center;
	position: fixed;
	z-index: 999;
}

#menu li{
		list-style: none;
		display: inline-block;	
		margin: 20px;
}

#menu li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

section{
	width: 100%;
	height: 100vh;
	float: left;
	position: relative;	
}

#home{
		background-color: black;
}

#plan{
		background-color: black;
}

#product{
		background-color: black;
}

#market{
		background-color: black;
}

#invest{
		background-color: black;
}

#team{
		background-color: black;
}

#line1{
	font-size: 60px;
	position: absolute;	
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
}

#line2{
	font-size: 60px;
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #7054ac;
}

#text1{
	font-size: 20px;
	position: absolute;	
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
}

.leftcol{
	float: left;
	background-color: black;
	width: 49vw;
	height: 100vh;
}

.rightcol{
	float: left;
	background-color: black;
	height: 100vh;
	width: 49vw;
	padding-left: -50%;
}

#line3{
	font-size: 40px;
	position: relative;	
	top: 20%;
	left: 30%;
	color: #fff;
}

#line4{
	font-size: 40px;
	position: relative;	
	top: 20%;
	left: 30%;
	color: #7054ac;
}

#line5, #line6, #line7{
	font-size: 20px;
	position: relative;	
	top: 25%;
	left: 30%;
	color: #fff;
}

#line7_1{
	font-size: 20px;
	position: relative;	
	top: 25%;
	left: 30%;
	color: #fff;
}

#text2, #text3, #text4{
	font-size: 15px;
	position: relative;	
	top: 20%;
	left: 30%;
	color: #fff;
	font-weight: 300;
}


#line8{
	font-size: 40px;
	position: absolute;	
	top: 20%;
	left: 15%;
	color: #fff;
}

#line9{
	font-size: 40px;
	position: absolute;	
	top: 27%;
	left: 15%;
	color: #7054ac;
}

#text5{
	font-size: 12px;
	position: absolute;	
	top: 30%;
	left: 15%;
	color: #fff;
	font-weight: 300;
}

#model{
	padding-top: 2vw;
	left: 20%;
	top: 5%;
	position: absolute;
}

#line10{
	font-size: 40px;
	position: absolute;	
	top: 20%;
	left: 15%;
	color: #7054ac;
}

#line11{
	font-size: 40px;
	position: absolute;	
	top: 20%;
	left: 5%;
	color: #fff;
}

#market .leftcol2{
	float: left;
	background-color: black;
	width: 49vw;
	height: 100vh;
}

#market .rightcol2{
	float: left;
	background-color: black;
	height: 100vh;
	width: 49vw;
	padding-left: -50%;
}

#text6{
	font-size: 17px;
	position: absolute;	
	top: 35%;
	left: 15%;
	color: #fff;
	font-weight: 300;
}

#team .leftcol3{
	float: left;
	width: 32vw;
	height: 100vh;
}

#text7{
	font-size: 17px;
	position: relative;	
	top: 35%;
	left: 15%;
	color: #fff;
	font-weight: 300;
}

#team .centercol3{
	float: left;
	width: 32vw;
	height: 100vh;
	padding-left: -50%;
}


#text8{
	font-size: 17px;
	position: relative;	
	top: 35%;
	left: 15%;
	color: #fff;
	font-weight: 300;
}

#team .rightcol3{
	float: left;
	height: 100vh;
	width: 32vw;
	padding-left: -50%;
}


#text9{
	font-size: 17px;
	position: relative;	
	top: 35%;
	color: #fff;
	font-weight: 300;
}

#line12, #line13{
	font-size: 20px;
	position: relative;	
	top: 32%;
	left: 15%;
	color: #fff;
}

#line14{
	font-size: 20px;
	position: relative;	
	top: 32%;
	color: #fff;
}

#ceo, #cfo{
	position: relative;
	top: 30%;
	left:15%;	
}

#coo{
	position: relative;
	top: 30%;
}

#linkedin{
	position: relative;
	top: 35%;
	left:15%;
}

#linkedin1{
	position: relative;
	top: 35%;
}